body
{
	background-color: RoyalBlue;
}
div.kontener
{
	margin-top:-30px;
  height: 450px;
  width: 500px;
  background-color: #00bfff;
  border: 3px solid blue; 
  font-family: Josefin Sans, sans-serif;
}
div.strona
{
	margin-top:200px;
}
div.dane
{
	width:300px;
	height:350px;
	border: 2px solid red;
	border-radius:20px;
	
}
div.dane2
{
	font-size:20px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom:10px;
	margin-left:50px;
	width:190px;
	height:250px;
	border: 1px solid #00bfff;;
}
#usun_button
{
	width:100px;
}