<!DOCTYPE html>
<html lang="pl-PL">
  <head>
   <link rel="stylesheet" href="css/style-aktualnosci.css" />
   <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
    <body>
		<div class="a">
			<div class="aa">
			<h1>Aktualności</h1>
				<div class="b">
					<img id="logo" src="obrazy\logo.png" width="100" height="100">
				</div>
				</div>
		</div>
		<div class="c">
			<ul>
				<li><a href="index.html">Strona główna</a></li><br>
				<li><a href="o-nas.html">O nas</a></li><br>
				<li><a href="kontakt.html">Kontakt</a></li><br>
				<li><a href="galeria.html">Galeria</a></li>
			</ul>
			<div class="d">
			
				<div class="lewy" align="center">
					<div class="img1">
						<img id="logo" src="obrazy\zimna_piwnica.jpg" width="600" height="200">
					</div>
					<div class="opis">
					<label class="opis">ZIMNA PIWNICA - JUBLIEUSZOWA WYSTAWA</label>
					</div>
					<div class="img3">
						<img id="logo" src="obrazy\6_edycja.jpg" width="400" height="300">
					</div>
					<div class="opis">
					<label>6 edycja Workshop for Doctoral Students<br>and Young Researchers in IT</label>
					</div>
				</div>

				<div class="prawy" align="center">
					<div class="img2">
						<img class="img2" src="obrazy\absolwenci_czolowka.jpg" width="300" height="200">
					</div>
					<div class="opis">
					<label>ABSOLWENCI TWEAK W CZOŁÓWCE NAJLEPIEJ ZARABIAJĄCYCH</label>
					</div>
					<div class="img4">
						<img class="img2" src="obrazy\wymiana_miedzynarodowa.jpg" width="500" height="300">
					</div>
					<div class="opis">
					<label>WYMIANA MIĘDZYNARODOWA</label>
					</div>
				</div>
		
			</div>
		</div>
		
	
  </body>
</html>