<!DOCTYPE html>
<html lang="pl-PL">
  <head>
   <link rel="stylesheet" href="css/style-galeria.css" />
   <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
    <body>
		<div class="a">
			<div class="aa">
			<h1>Galeria</h1>
				<div class="b">
					<img id="logo" src="obrazy\logo.png" width="100" height="100">
				</div>
				</div>
		</div>
		<div class="c">
			<ul>
				<li><a href="index.html">Strona główna</a></li><br>
				<li><a href="o-nas.html">O nas</a></li><br>
				<li><a href="aktualnosci.html">Aktualności</a></li><br>
				<li><a href="kontakt.html">Kontakt</a></li>
			</ul>
			<div class="d">
				<div class="opis-gora" align="center">
					<div class="opis-gora2">
						<label>2019</label>
					</div>
				</div>
				<div class="gora">
					<div class="gora1">
					<div class="img1">
						<img src="obrazy\galeria1.jpg" width="300" height="200">
					</div>
					<div class="img2">
						<img src="obrazy\galeria2.jpg" width="300" height="200">
					</div>
					</div>
					<div class="gora2">
					<div class="img3">
						<img  src="obrazy\galeria3.jpg" width="300" height="200">
					</div>
					<div class="img4">
						<img src="obrazy\galeria4.jpg" width="300" height="200">
					</div>
					</div>
				</div>
				<div class="opis-dol" align="center">
					<div class="opis-dol2">
						<label>2018</label>
					</div>
				</div>
				<div class="dol">
					<div class="dol1">
					<div class="img5">
						<img src="obrazy\galeria5.jpg" width="300" height="200">
					</div>
					<div class="img6">
						<img src="obrazy\galeria6.jpg" width="300" height="200">
					</div>
					</div>
					<div class="dol2">
					<div class="img7">
						<img  src="obrazy\galeria7.jpg" width="300" height="200">
					</div>
					<div class="img8">
						<img src="obrazy\galeria8.jpg" width="300" height="200">
					</div>
					</div>
				</div>
		</div>
		</div>
	
  </body>
</html>