<!DOCTYPE html>
<html lang="pl-PL">
  <head>
   <link rel="stylesheet" href="/css/style-o-nas.css" />
   <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
    <body>
		<div class="a">
			<div class="aa">
			<h1>O nas</h1>
				<div class="b">
					<img id="logo" src="obrazy\logo.png" width="100" height="100">
				</div>
				</div>
		</div>
		<div class="c">
			<ul>
				<li><a href="index.html">Strona główna</a></li><br>
				<li><a href="aktualnosci.html">Aktualności</a></li><br>
				<li><a href="galeria.html">Galeria</a></li><br>
				<li><a href="kontakt.html">Kontakt</a></li>
			</ul>
			<div class="d" align="center">
				<div class="pole">
					<div class="opis" align="center">
						<label>Polsko-Francuska Akademia let's TWEAK it – uczelnia<br><br>
							   założona w 2006 roku przez Fundację Rozwoju Technik<br><br>
							   Dedukcyjnych powstałą na podstawie porozumienia rządów<br><br>
							   Polski i Włoch z 2005 roku. Została wpisana do rejestru<br><br>
							   niepaństwowych szkół wyższych decyzją ministra edukacji<br><br>
							   narodowej z 30 listopada 2006 roku.</label>
					</div>
			</div>
		</div>
		
	
  </body>
</html>