<!DOCTYPE html>
<html lang="pl-PL">
  <head>
   <link rel="stylesheet" href="/css/style-admin-logowanie.css" />
   <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
	<title>Document</title>

  </head>
    <body>
		<div class="strona" align="center">
		<div class="box" align="center">
		<div class="panel-admin">
			<label>Panel Admin<label>
			</div>
					<div class="g">
						<form action="index.html" method="GET" align="center"><br>
							<br><label id="napis-zaloguj">Zaloguj się</label><br><br>
							<div class="block">
								<label for="log" id="log1">Login:</label>
								<input id="log" type="text" />
							</div><br>
							<div class="block">
								<label id="log2" for="pass">Hasło:</label>
								<input type="password" id="pass" name="password" minlength="8" required>
							</div><br>
							<a href="/users/panel-admin"><button type="button">Zaloguj się</button></a><br><br>
						<form/>
					</div>
					<div class="button2">
					<a href="index"><button type="button">Wróć na stronę główną</button>
					</div>
		</div>
		</div>
  </body>
</html>