<!DOCTYPE html>
<html lang="pl-PL">
  <head>
   <link rel="stylesheet" href="/css/style-panel-admin.css" />
   <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
	<title>Document</title>

  </head>
    <body>
		<div class="a">
			<div class="c">
				<h1>Panel Admin</h1>
			</div>
		</div>
			<div class="d" align="center">
				<div class="f" align="center">	
					<h2>Co chcesz zrobić?</h2>
						<div class="b" align="left">
							<ol>
								<li><a href="../users/lista-klientow">Wyświetl listę klientów</a></li><br>
								<li><a href="../cours/lista-kursow">Wyświetl listę kursów</a></li><br>
								<li><a href="../instructor/lista-wykladowcow">Wyświetl listę wykładowców</a></li><br>
								<li><a href="../sign/lista-zapisow">Wyświetl listę zapisów</a></li>
							</ol>
						</div>
				</div>
			</div>
		
	
  </body>
</html>