<!DOCTYPE html>
<html lang="pl-PL">
  <head>
   <link rel="stylesheet" href="css/style-potwierdzenie-zalozenia-konta.css" />
   <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
    <body>
		<div class="strona" align="center">
		<div class="box" align="center">
			<br><br><h4>Dziękujemy za założenie konta!<br>Za chwilę otrzymasz na mail'a wiadomość z linkiem aktywacyjnym.<h4>
			<div class="przycisk">
			<a href="/user/index"><button type="button">Powrót do strony głównej</button></a>
			</div>
		</div>
		</div>
  </body>
</html>